
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  color: black;
  margin-left: 30px;
  margin-top: -10px;
}

label {
  color: black;
  margin-left: 30px;
  margin-top: -90px;
}

.fill {
  color: black;
  margin-left: 30px;
  margin-top: -30px;
}

#homepage {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../src/images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.login-container, .signup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-left: 40px;
}

.form-container {
  margin-top: 20px;
  text-align: left;
}

.error-message {
  color: red;
  display: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  transition: opacity 0.2s ease;
}

.error-message.visible {
  display: block;
  margin-left: 30px;
  margin-top: -3px;
}

h1 {
  color: #3CC585;
  margin-left: 30px;
}

button {
  border-radius: 25.5px;
  background-color: #3CC585;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  margin-left: 95px;
}

input {
  border: 1px solid #3CC585;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  margin: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
  background-color: white;
}

select {
  border: 1px solid #3CC585;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  margin-left: 30px;
  margin-bottom: 5px;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px; /* Adjust width as per your requirement */
  text-align: center;
  z-index: 1000;
  
  /* Flexbox for centering content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup img {
  width: 50px;
  margin-bottom: 10px; /* Reduce margin to improve spacing */
}

.popup p {
  font-size: 16px;
  color: #333;
  margin: 0; /* Remove margin for better vertical alignment */
}

.popup .close-btn {
  position: absolute;
  top: -20px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.popup .close-btn:hover {
  color: #ff0000; /* Optional: Red hover color for close button */
}


#forget {
  color: #3CC585;
  margin-left: 70px;
}

#signup {
  color: #3CC585;
  margin-left: 5px;
}
